NEXT_PUBLIC_APP_NAME="https://reqres.in/api"
NEXT_PUBLIC_API_URL="[YOUR_PUBLIC_KEY]"
NEXT_PUBLIC_MANAGE_KEY="[YOUR_MANAGE_KEY]"
NEXT_PUBLIC_PROJECT_ID="[YOUR_PROJECT_ID]"
NEXT_PUBLIC_PROJECT_SLUG="[YOUR_PROJECT_SLUG]"